<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Tienda Online Spring</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

	<table class="table table-hover table-bordered table-striped">
		<caption>Productos</caption>
		<thead class="table-dark">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nombre</th>
				<th scope="col">Precio</th>
				<th scope="col">Caducidad</th>
				<th scope="col">Stock</th>
				<th scope="col">Opciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p: ${productos}">
				<th scope="row" th:text="${p.id}">Id</th>
				<td th:text="${p.nombre}">Nombre</td>
				<td th:text="${p.precio}">Precio</td>
				<td th:text="${p.fechaCaducidad}">Fecha de caducidad</td>
				<td th:text="${p.stock}">Stock</td>
				<td>
					<a class="btn btn-primary btn-sm" href="#" th:href="@{'/producto/' + ${p.id}}">Editar</a>
					<a class="btn btn-danger btn-sm" href="#" th:href="@{'/producto/borrar/' + ${p.id}}">Borrar</a>
				</td>
			</tr>
		</tbody>
		<tfoot class="table-dark">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<a class="btn btn-primary btn-sm" href="#" th:href="@{/producto/}">Añadir</a>
				</td>
			</tr>
		</tfoot>
	</table>

</body>
</html>